---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Simple Living Costs",
    description:
      "All you pay is the rent, common service charge and deposit. Utilities and internet are included.",
    icon: "bx:bx-money-withdraw",
  },
  {
    title: "Fast Internet",
    description:
      "We aim for best-effort Internet speeds in the city.",
    icon: "mdi:thunder",
  },
  {
    title: "DIY",
    description:
      "We are living in a 60 year old house with improvements. There is a work shed and DIY tools will be shared with those who want to build something.",
    icon: "dashicons:admin-tools",
  },
  {
    title: "Geek",
    description:
      "If you have a passion for computers, the Internet, or anything else, we welcome you.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Walkable",
    description:
      "There is a train station, convenience store, and pharmacy (and tax office) within walking distance. Shared cars are also available.",
    icon: "bx:bx-run",
  },
  {
    title: "Local Life",
    description:
      "It is a quiet sea town on the Sanriku coast.",
    icon: "mdi:fish",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Features
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Tane House is a community-oriented share house.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
