---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">You can contact me at...</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:twitter" />
    <Icon class="h-8 md:h-12" name="simple-icons:facebook" />
    <Icon class="h-8 md:h-12" name="simple-icons:instagram" />
    <Icon class="h-8 md:h-12" name="simple-icons:github" />
    <Icon class="h-8 md:h-12" name="simple-icons:youtube" />
    <Icon class="h-8 md:h-12" name="simple-icons:twitch" />
  </div>
</div>
